<ion-tabs class="tabs-icon-top tabs-background-positive tabs-color-light">


  <ion-tab title="Videos"
           icon-on="ion-ios-videocam"
           icon-off="ion-ios-videocam-outline"
           href="#/home/video">
    <ion-nav-view name="home-videos"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Account"
           icon-off="ion-ios-gear-outline"
           icon-on="ion-ios-gear"
           href="#/home/account">
    <ion-nav-view name="home-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
