.account {
  .user-block {
    text-align: center;
    margin: 20px 0;
    img {
      border-radius: 50%;
      margin: auto;
      display: block;
      width: 100px;
      height: 100px;
    }
  }
}
